.card{
    width:100%;
    margin-top:80px ;
}

label{
  margin-top: 50px;
  margin-bottom:10px;
}

.card-body{
    text-align: center;
}

.card-body img{
   float:left;
   margin: 20px;
}

.text-start p{
  margin-left: 10px;
}

.text-start p span{
  width:50px;
}

.prix {
float:right;
}


i.bi-cart{
  color:#ff8400;

}

i.bi-cart a.home{
  margin-left: -60%;
  margin-top: 40%;
}